* {
  margin: 0;
  padding: 0;
}
.borderLine {
  border-style: solid;
  border-color: #ecaeff;
  border-radius: 25px;
}
.center {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: 60%;
  animation: enter-animation 0.8s 1;
}
.text {
  text-align: center;
}
.gap {
  padding: 10px 50px 50px 60px;
}
.font {
  font-size: 72px;
  margin: 15px 0px;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.fontSmall {
  font-size: 20px;
  margin-bottom: 15px;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.button {
  margin-top: 15px;
  padding: 15px 30px;
  text-decoration-color: white;
  /* border-color: #ecaeff; */
  background-color: rgb(47, 197, 159);
  border: none;
  border-radius: 40px;
  font-size: larger;
  font-weight: 600;
  color: white;
}
button:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.VBvideo {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.blackBox {
  background-color: rgba(0, 0, 0, 0.852);
}
.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin: 40px 0px;
}
.image {
  border-radius: 1000px;
  width: 30%;
  height: 20%;
}
.imageSeller {
  border-radius: 1000px;
  width: 27%;
  height: 20%;
}
.image:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.chatCenter:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.imageSeller:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.chatCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 20px 10px 40px 10px;
}
.sellerAnimation {
  animation: Seller-animation 1.3s 1;
}
.botAnimation {
  animation: Bot-animation 1.3s 1;
}
.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: small;
}
.chatGap {
  padding-bottom: 15px;
  text-align: center;
}
.reviewBlock {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin: 0 20px;
  animation: enter-animation 0.8s 1;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.reviews:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
  border-style: solid;
  border-color: #ecaeff;
  border-radius: 25px;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
  margin-bottom: 5%;
  animation: enter-animation 0.8s 1;
  /* color: #0e323f; */
}

.imageRating {
  width: 20%;
}
.ratingStar {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerGap {
  padding: 20px 20px;
  cursor: pointer;
}
.footerGap:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(224, 224, 224, 0.8);
  padding: 10px 20px;
  position: sticky;
  top: 10px;
  margin: 20px;
  border-radius: 40px;
  z-index: 1000;
  /* width: 100%; */
}
.antonio {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 30px;
}
.tourney {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: bold;
  font-size: 40px;
  font-variation-settings: "wdth" 100;
}
#antonio {
  color: rgb(23 53 69);
}

#tourney {
  color: #0e323f;
}

.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 12%;
  /* height: 60px; */
  margin-right: 10px;
  border-radius: 40px;
}
.navbar .nav-links {
  display: flex;
  gap: 30px;
}
.navbar .nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.navbar .explore-btn {
  background-color: #0d7199;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}
.hero-section {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102.8%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
}
.hero-section .content {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 1;
  margin: 7px;
}
.hero-section .content h1 {
  font-size: 80px;
  font-weight: bold;
  color: rgba(226, 233, 27, 0.949);
}
.hero-section .content p {
  font-size: 20px;
  margin: 10px 0;
  color: #eaedef;
}
.hero-section .content .discover-btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero-section .content .discover-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 20px;
  animation: CardAnimation 1s ease-in;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card1 {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 25px;
  margin: 20px;
  animation: Card1Animation 1s ease-in;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icon img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
.content {
  flex: 1;
}
.content h2 {
  font-family: "Calistoga", serif;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: 400;
}
.content p {
  margin: 0 0 20px;
  font-size: 25px;
  color: #555;
}
.content .btn {
  background-color: #fefefe;
  color: rgb(45, 35, 234);
  border: 1px solid rgb(45, 35, 234);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.content .btn:hover {
  background-color: #bbd4ed;
}
.card:hover {
  transform: scale(1.05);
}
.card1:hover {
  transform: scale(1.05);
}
.Arcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 3px solid #ecaeff;
  border-radius: 30px;
  max-width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  flex-direction: row;
}
.image-section {
  padding: 30px;
}
.image-section img {
  max-width: 230px;
  height: 230px;
}
.img:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}
.Arcontainer:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}
.content-section h1 {
  font-family: "Calistoga", serif;
  font-size: 45px;
  color: #333;
  font-weight: 400;
  margin: 0 0 10px;
}
.content-section p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.imageanime {
  animation: slideInLeft 1s ease-in-out forwards;
}
.contentanime {
  animation: slideInRight 1s ease-in-out forwards;
}

@media screen and (max-width: 900px) {
  .calistoga-regular {
    font-size: xx-large;
  }
  .josefin-sans {
    font-size: large;
  }
  .poppins-light {
    font-size: smaller;
  }
  .icon img {
    width: 150px;
    height: 150px;
  }
  .content h2 {
    font-size: 35px;
  }
  .content p {
    font-size: 22px;
  }
  .content .btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 815px) {
  .font {
    font-size: 40px;
  }
  .fontSmall {
    font-size: 17px;
  }
  .reviewBlock {
    grid-template-columns: auto auto;
  }
  .navbar .nav-links {
    display: none;
  }
  .image-section img {
    max-width: 190px;
    height: 190px;
  }
  .icon img {
    margin: 0 0 20px 0;
  }
  .card1 .icon img {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .calistoga-regular {
    font-size: x-large;
  }
  .josefin-sans {
    font-size: small;
  }
  .poppins-light {
    font-size: x-small;
  }
  .footerIcons {
    width: 60%;
  }
  .antonio {
    font-size: 20px;
  }
  .tourney {
    font-size: 30px;
  }
  .navbar .explore-btn {
    font-size: small;
  }
  .hero-section .content h1 {
    font-size: 55px;
  }
  .hero-section .content p {
    font-size: 15px;
  }
  .hero-section .content .discover-btn {
    font-size: 15px;
  }
  .image-section img {
    max-width: 160px;
    height: 160px;
  }
  .content-section h1 {
    font-size: xx-large;
  }
  .content-section p {
    font-size: medium;
  }
  .icon img {
    width: 120px;
    height: 120px;
  }
  .content h2 {
    font-size: 30px;
  }
  .content p {
    font-size: 20px;
  }
  .content .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .font {
    font-size: 30px;
  }
  .fontSmall {
    font-size: 12px;
  }
  .button {
    padding: 10px 20px;
    font-size: x-small;
  }
  .chat {
    flex-direction: column;
    gap: 30px;
  }
  .calistoga-regular {
    font-size: larger;
  }
  .chatCenter {
    width: 75%;
  }
  .antonio {
    font-size: 15px;
  }
  .tourney {
    font-size: 20px;
  }
  .navbar .explore-btn {
    font-size: x-small;
  }
  .Arcontainer {
    flex-direction: column;
    text-align: center;
  }
  .image-section img {
    max-width: 120px;
    height: 120px;
  }
  .content-section h1 {
    font-size: x-large;
  }
  .content-section p {
    font-size: medium;
  }
  .container {
    flex-direction: column;
  }
  .card,
  .card1 {
    flex-direction: column;
    text-align: center;
  }
  .icon img {
    width: 100px;
    height: 100px;
  }
  .content h2 {
    font-size: 25px;
  }
  .content p {
    font-size: 18px;
  }
  .content .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Seller-animation {
  0% {
    transform: translatex(400px);
    opacity: 0;
  }
}
@keyframes Bot-animation {
  0% {
    transform: translatex(-400px);
    opacity: 0;
  }
}
@keyframes CardAnimation {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes Card1Animation {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
