* {
  margin: 0;
  padding: 0;
}
.product {
  overflow: hidden;

  /* animation: enter-animation 0.8s 1; */
}
.product__images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__main-image {
  position: relative;
  width: 100vw;
  height: 85vh;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #070707;
}
.threeDot {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
#threeDotDropDown {
  background-color: white;
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  top: 50px;
  right: 10px;
  overflow: hidden;
}
.dropdownContent {
  display: none;
  /* animation: leave-animation 0.8s 1; */
}
.show {
  display: block;
  animation: enter-animation 0.8s 1;
}
.subThreeDot {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.virtual:hover {
  background-color: #ecaeff;
  transition: 0.3s;
}
.fav:hover {
  background-color: #ecaeff;
  transition: 0.3s;
}
.share:hover {
  background-color: #ecaeff;
  transition: 0.3s;
}
.product__slider-wrap {
  width: auto;
  display: flex;
  align-items: center;
}

.product__slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.product__image {
  max-width: 180px;
  max-height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.25rem;
}
.product__image:hover {
  opacity: 1;
}

.product__image--active {
  opacity: 1;
  border: 2px solid #d269f3;
}

.center1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px;
  font-size: x-large;
}

.center2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  position: relative;
}
hr {
  position: absolute;
  height: 104%;
  margin-left: -20px;
  border-right: 1px solid #d269f3;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.center1 p {
  font-size: 18px;
}
.description {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  /* position: relative; */
}
.des {
  position: relative;
  text-decoration: underline #d269f3;
  margin: 20px;
}
.description ul {
  margin: 0px 30px;
}
.similar {
  margin-left: 35px;
}
.propertyContainer {
  /* width: 90%; */
  margin: 20px 30px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2%;
  flex-wrap: nowrap;
  overflow: auto;
}
.Container {
  display: flex;
  gap: 10px;
}
.property-card {
  display: flex;
  flex-direction: row;
  background-color: rgba(238, 200, 245, 0.278);
  border: 1px solid #969292;
  border-radius: 20px;
  width: 50vw;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  position: relative;
}
.property-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.341);
}

.property-image {
  margin: 10px;
  border-radius: 20px 0% 0% 20px;
  width: 40%;
  background-color: #e0e0e0;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
  cursor: pointer;
}

.property-details {
  padding: 30px 15px 30px 10px;
  /* width: 70%; */
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.property-title {
  font-size: 18px;
  margin: 0;
}

.property-description {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}

.property-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.property-views {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* .property-views img {
  width: 24px;
  height: 24px;
} */
.property-date {
  color: #888;
  font-size: 12px;
  margin-top: auto;
}

.property-price {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  color: #0b0b0bba;
}
.no-Scrollbar::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 950px) {
  .center1 {
    font-size: medium;
  }
  .des {
    font-size: large;
  }
}
@media screen and (max-width: 850px) {
  .center1 {
    flex-direction: column;
    gap: 15px;
    margin: 20px 30px;
  }
  .product__main-image {
    height: 50vh;
  }
  .product__image {
    max-width: 50px;
  }
  .property-card {
    width: 80vw;
  }
  .property-title {
    font-size: 13px;
  }
  .property-description {
    font-size: 10px;
  }
  .property-price {
    font-size: 12px;
  }
  .property-date {
    font-size: 8px;
  }
  .property-views {
    font-size: 9px;
  }
  .eye {
    width: 14px;
  }
}

@keyframes enter-animation {
  0% {
    transform: translatex(50px);
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes leave-animation {
  0% {
    transform: translatex(50px);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 0;
  }
}
