* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.BackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f4c4f8;
}
h2 {
  margin: 20px 0;
  color: #ffffff;
}
.antonio {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 30px;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  font-weight: 600;
  font-style: normal;
}
.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.features {
  margin: 15px 0;
  font-size: 14px;
  color: gray;
}

.card:hover {
  transform: translateY(-5px);
  background: rgb(254, 220, 253);
  border: 3px solid #512c4d;
  /* color: white; */
  transform: scale(1.1);
  /* .features {
    color: rgb(221, 207, 207);
  } */
}

.price {
  background: #512c4d;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

/* .card.highlight .price {
  background: black;
} */

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.storage {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.buy-button {
  background: #4a93e2;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.buy-button:hover {
  background: #286386;
}

@media screen and (max-width: 640px) {
  h2 {
    margin-top: 30px;
  }
  .pricing-container {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
  }
}
