* {
  margin: 0;
  padding: 0;
}
.borderLine {
  border-style: solid;
  border-color: #ecaeff;
  border-radius: 25px;
}
.center {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: 60%;
  animation: enter-animation 0.8s 1;
}
.text {
  text-align: center;
}
.gap {
  padding: 10px 50px 50px 60px;
}
.font {
  font-size: 72px;
  margin: 15px 0px;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.fontSmall {
  font-size: 20px;
  margin-bottom: 15px;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.button {
  margin-top: 15px;
  padding: 15px 30px;
  text-decoration-color: white;
  /* border-color: #ecaeff; */
  background-color: rgb(47, 197, 159);
  border: none;
  border-radius: 40px;
  font-size: larger;
  font-weight: 600;
  color: white;
}
button:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.VBvideo {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.blackBox {
  background-color: rgba(0, 0, 0, 0.852);
}
.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin: 40px 0px;
}
.image {
  border-radius: 1000px;
  width: 30%;
  height: 20%;
}
.imageSeller {
  border-radius: 1000px;
  width: 27%;
  height: 20%;
}
.image:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.chatCenter:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.imageSeller:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
.chatCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 20px 10px 40px 10px;
}
.sellerAnimation {
  animation: Seller-animation 1.3s 1;
}
.botAnimation {
  animation: Bot-animation 1.3s 1;
}
.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: small;
}
.chatGap {
  padding-bottom: 15px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .calistoga-regular {
    font-size: xx-large;
  }
  .josefin-sans {
    font-size: large;
  }
  .poppins-light {
    font-size: smaller;
  }
}
@media screen and (max-width: 815px) {
  .font {
    font-size: 40px;
  }
  .fontSmall {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  .calistoga-regular {
    font-size: x-large;
  }
  .josefin-sans {
    font-size: small;
  }
  .poppins-light {
    font-size: x-small;
  }
}
@media screen and (max-width: 450px) {
  .font {
    font-size: 30px;
  }
  .fontSmall {
    font-size: 12px;
  }
  .button {
    padding: 10px 20px;
    font-size: x-small;
  }
  .chat {
    flex-direction: column;
    gap: 30px;
  }
  .calistoga-regular {
    font-size: larger;
  }
  .chatCenter {
    width: 75%;
  }
}
@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Seller-animation {
  0% {
    transform: translatex(400px);
    opacity: 0;
  }
}
@keyframes Bot-animation {
  0% {
    transform: translatex(-400px);
    opacity: 0;
  }
}
